# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build files
*.test
*.out

# Vendor (якщо не використовуєш його)
vendor/

# Logs
*.log

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Go workspace
go.work
go.work.sum

# Temporary files
tmp/
.gocache
